<!-- Main -->
	
			  <div id="main">
				<header>
					<h2>系統總覽</h2>
				</header>
				<div class="row">
					<div class="3u">
						<section>
							<a href="products" class="image full"><img src="http://templated.co/items/demos/monochromed/images/pics01.jpg" alt="" /></a>
							<p>生產管理</p>
							<a href="products" class="button">點擊進入</a>
						</section>
					</div>
					<div class="3u">
						<section>
							<a href="materials" class="image full"><img src="http://templated.co/items/demos/monochromed/images/pics11.jpg" alt="" /></a>
							<p>原物料管理</p>
							<a href="materials" class="button">點擊進入</a>
						</section>
					</div>
					<div class="3u">
						<section>
							<a href="retailers" class="image full"><img src="http://templated.co/items/demos/monochromed/images/pics12.jpg" alt="" /></a>
							<p>門市庫存管理</p>
							<a href="retailers" class="button">點擊進入</a>
						</section>
					</div>
					<div class="3u">
						<section>
							<a href="marketings" class="image full"><img src="http://templated.co/items/demos/monochromed/images/pics13.jpg" alt="" /></a>
							<p>行銷管理</p>
							<a href="marketings" class="button">點擊進入</a>
						</section>
					</div>
				</div>
				<div class="divider">&nbsp;</div>
				<div class="row">
				
					
				</div>
			
			</div>
	


