<!-- Main -->
		<div id="main">
			<div class="container">
				<header>
					<h2>系統總覽</h2>
				</header>
				<div class="row">
					<div class="3u">
						<section>
							<a href="#" class="image full"><img src="http://templated.co/items/demos/monochromed/images/pics01.jpg" alt="" /></a>
							<p>生產管理</p>
							<a href="products" class="button">點擊進入</a>
						</section>
					</div>
					<div class="3u">
						<section>
							<a href="#" class="image full"><img src="http://templated.co/items/demos/monochromed/images/pics11.jpg" alt="" /></a>
							<p>原物料管理</p>
							<a href="imei-project.herokuapp.com/materials" class="button">點擊進入</a>
						</section>
					</div>
					<div class="3u">
						<section>
							<a href="#" class="image full"><img src="http://templated.co/items/demos/monochromed/images/pics12.jpg" alt="" /></a>
							<p>門市庫存管理</p>
							<a href="imei-project.herokuapp.com/retailers" class="button">點擊進入</a>
						</section>
					</div>
					<div class="3u">
						<section>
							<a href="#" class="image full"><img src="http://templated.co/items/demos/monochromed/images/pics13.jpg" alt="" /></a>
							<p>行銷管理</p>
							<a href="marketings" class="button">點擊進入</a>
						</section>
					</div>
				</div>
				<div class="divider">&nbsp;</div>
				<div class="row">
				
					
				</div>
			
			</div>
		</div>


